<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">
  <a class="navbar-brand" [routerLink]="['/']">
    <img src="assets/icons/logo-realponto.svg">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Almoço">
        <a class="nav-link" [routerLink]="['/']">
          <i class="fa fa-fw fa-th-list"></i>
          <span class="nav-link-text">Dashboard</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Alimentos">
        <a class="nav-link" [routerLink]="['alimentos/novo']">
          <i class="fa fa-fw fa-shopping-cart"></i>
          <span class="nav-link-text">Alimentos</span>
        </a>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Cardapios">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-wpforms"></i>
          <span class="nav-link-text">Cardápios</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseComponents">
          <li>
            <a [routerLink]="['/cardapios/novo']">
              <i class="fa fa-plus"></i> Novo
            </a>
          </li>

          <li>
            <a [routerLink]="['/cardapios/gerenciar']">
              <i class="fa fa-edit"></i> Gerenciar
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Funcionarios">
        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAlimentos" data-parent="#exampleAccordion">
          <i class="fa fa-fw fa-user"></i>
          <span class="nav-link-text">Funcionarios</span>
        </a>
        <ul class="sidenav-second-level collapse" id="collapseAlimentos">
          <li>
            <a [routerLink]="['usuarios/novo']">
              <i class="fa fa-plus"></i> Novo
            </a>
          </li>
          <li>
            <a [routerLink]="['usuarios/gerenciar']">
              <i class="fa fa-edit"></i> Gerenciar
            </a>
          </li>
        </ul>
      </li>

    </ul>

    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler" (click)="emitToggleEvent()">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLink]="['/login']">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>
          Logout
        </a>
      </li>
    </ul>

  </div>
</nav>


