<app-breadcrumb title="Gerenciar" titleParent="Funcionarios"></app-breadcrumb>


<div class="col-12">

  <ngb-tabset [justify]="'justified'">
    <ngb-tab title="Ativos">
      <ng-template ngbTabContent>
        <div class="pt-4 scroll list-group-item text-center" *ngIf="(usuariosAtivos$ | async)?.length < 1">
          <p class="text-secondary">Não há funcionário Ativo!</p>
        </div>
        <div class="scroll list-group" *ngIf="(usuariosAtivos$ | async)?.length > 0">
          <a *ngFor="let usuario of usuariosAtivos$ | async" class="list-group-item d-flex justify-content-between">
            {{ usuario?.nome }}
            <button type="button" class="btn btn-light text-right" (click)="openEditar(usuario)">
              <i class="fa fa-edit"></i>
            </button>
          </a>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Inativos">
      <ng-template ngbTabContent>
        <div class="pt-4 scroll list-group-item text-center" *ngIf="(usuariosInativos$ | async)?.length < 1">
          <p class="text-secondary">Não há funcionário Inativo!</p>
        </div>
        <div class="scroll list-group" *ngIf="(usuariosInativos$ | async)?.length > 0">
          <a *ngFor="let usuario of usuariosInativos$ | async" class="list-group-item d-flex justify-content-between">
            {{ usuario?.nome }}
            <button type="button" class="btn btn-light text-right" (click)="openEditar(usuario)">
              <i class="fa fa-edit"></i>
            </button>
          </a>
        </div>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>

</div>
