<app-breadcrumb title="Gerenciar" titleParent="Funcionarios"></app-breadcrumb>


<div class="col-xl-9 col-sm-7 mb-12">

  <ngb-tabset [justify]="'justified'">
    <ngb-tab title="Ativos">
      <ng-template ngbTabContent>
        <div class="scroll list-group">
          <a *ngFor="let usuario of usuariosAtivos$ | async" class="list-group-item d-flex justify-content-between">
            {{ usuario?.nome }}
            <button type="button" class="btn btn-danger text-right">
              <i class="fa fa-remove danger"></i>
            </button>
          </a>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Inativos">
      <ng-template ngbTabContent>
        <div class="scroll list-group">
          <a class="list-group-item d-flex justify-content-between">
            <!-- {{ acompanhamento?.nome }} -->
            <button type="button" class="btn btn-danger text-right">
              <i class="fa fa-remove danger"></i>
            </button>
          </a>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

</div>
