<app-breadcrumb></app-breadcrumb>
<hr>
<pre>{{ novoForm.value | json }}</pre>

<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3" [formGroup]="novoForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Nome</span>
      </div>
      <input type="text" class="form-control" formControlName="nome">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">Tipo</label>
      </div>
      <select class="custom-select" formControlName="tipo">
        <option *ngFor="let tipo of tipoAlimentos"
                [value]="tipo">{{ tipo }}</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <button  type="button" class="btn btn-primary text-right">
        Salvar
      </button>
    </div>
  </div>

  <div class="col-xl-8 col-sm-6 mb-8">
    <ngb-tabset [justify]="'justified'">
      <ngb-tab title="Proteínas">
        <ng-template ngbTabContent>
          <div class="scroll list-group">
            <a class="list-group-item d-flex justify-content-between">
              Bife acebolado
              <button type="button" (click)="alertConfirm(content)" class="btn btn-danger text-right">
                <i class="fa fa-remove danger"></i>
              </button>
            </a>
            <a class="list-group-item d-flex justify-content-between">
              Bife acebolado
              <button type="button" class="btn btn-danger text-right">
                <i class="fa fa-remove danger"></i>
              </button>
            </a>
          </div>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Guarnições">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Legumes">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Saladas">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Sobremesas">
        <ng-template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
          master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
          dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
          iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Atenção</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deseja realmente remover o item ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c('Close click')">Sim</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Não</button>
  </div>
</ng-template>


<!-- <div class="form-group col-md-12">
  <label for="inputState">Proteína</label>
  <select formControlName="proteinas" class="form-control">
    <option *ngFor="let proteina of proteinas"
            [value]="proteina.name">{{ proteina.name }}</option>
  </select>
</div> -->
