<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-bell-o"></i> Notificações</div>
  <div class="list-group list-group-flush small">
    <a class="list-group-item list-group-item-action" href="#">
      <div class="media">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
        <div class="media-body">
          <strong>Maria</strong> ovo frito por favor!
          <div class="text-muted smaller">Hoje as 8:43 - 7m atrás</div>
        </div>
      </div>
    </a>
    <a class="list-group-item list-group-item-action" href="#">
      <div class="media">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
        <div class="media-body">
          <strong>Leandro</strong> ovo frito por favor!
          <div class="text-muted smaller">Hoje as 8:43 - 7m atrás</div>
        </div>
      </div>
    </a>
    <a class="list-group-item list-group-item-action" href="#">
      <div class="media">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">
        <div class="media-body">
          <strong>Natali</strong> não quero mistura!
          <div class="text-muted smaller">Hoje as 8:43 - 7m atrás</div>
        </div>
      </div>
    </a>

    <a class="list-group-item list-group-item-action" href="#">Ver mais atividades...</a>

  </div>
  <div class="card-footer small text-muted">Atualizado hoje as 14:59 PM</div>
</div>
