<div class="bg-dark">
  <div class="card card-login mx-auto mt-5">
    <div class="card-header">Login</div>
    <div class="card-body">

      <div [formGroup]="loginForm">
        <div class="form-group">
          <label>Usuário</label>
          <input class="form-control" formControlName="username" type="email">
        </div>

        <div class="form-group">
          <label>Senha</label>
          <input class="form-control" formControlName="password" type="password">
        </div>
      </div>

      <a class="btn btn-primary btn-block" (click)="login()">Entrar</a>

    </div>
  </div>
</div>

