hr {
  width: 98%;
  color: #fff;
  background-color: #fff;
  height: 1.5px;
}

.modal {
  max-height: 400px;
}

.background {
  padding: 40px;
  border-radius: 0px 5px 5px 0px;
  background-color: #c0bebe !important;
  font-style: bold;
  color: #fff;
}
