<app-breadcrumb></app-breadcrumb>
<hr>
  <pre> {{ cardapioForm.value | json }}</pre>


  <!-- <p>Simple datepicker</p>

  <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>

  <hr/>

  <button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Select Today</button>
  <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo()">To current month</button>
  <button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>

  <hr/>

  <pre>Month: {{ date.month }}.{{ date.year }}</pre>
  <pre>Model: {{ model | json }}</pre> -->


  <div [formGroup]="cardapioForm" class="form-row">
    <div class="col-4">

      <div class="form-group col-md-12">
        <label for="inputState">Proteína</label>
        <select formControlName="proteinas" class="form-control">
          <option *ngFor="let proteina of proteinas"
                  [value]="proteina.name">{{ proteina.name }}</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="inputState">Guarnição</label>
        <select formControlName="guarnicoes" class="form-control">
          <option *ngFor="let guarnicao of guarnicoes"
                  [value]="guarnicao.name">{{ guarnicao.name }}</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="inputState">Legume</label>
        <select formControlName="legumes" class="form-control">
          <option *ngFor="let legume of legumes"
                  [value]="legume.name">{{ legume.name }}</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="inputState">Salada</label>
        <select formControlName="saladas" class="form-control">
          <option *ngFor="let salada of saladas"
                  [value]="salada.name">{{ salada.name }}</option>
        </select>
      </div>

      <div class="form-group col-md-12">
        <label for="inputState">Sobremesa</label>
        <select  formControlName="sobremesas" class="form-control">
          <option *ngFor="let sobremesa of sobremesas"
                  [value]="sobremesa.name">{{ sobremesa.name }}</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">salvar</button>
    </div>
  </div>



