<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-bar-chart"></i> Prato do dia - Segunda</div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12  my-auto">
        <div class="h4 mb-0 text-danger">Proteína</div>
        <div class="small text-muted pl-2">Bife Acebolado</div>
        <hr>
        <div class="h4 mb-0 text-primary">Acompanhamento</div>
        <div class="small text-muted pl-2">Arroz, Feijão e Purê de batata</div>
        <hr>
        <div class="h4 mb-0 text-warning">Legumes</div>
        <div class="small text-muted pl-2">Vagem, Cenoura e Brócolis</div>
        <hr>
        <div class="h4 mb-0 text-success">Salada</div>
        <div class="small text-muted pl-2">Alface, Tomate, Cebola</div>
      </div>
    </div>
  </div>
  <div class="card-footer small text-muted">Atualizado hoje as 14:59 PM</div>
</div>